services:
  api:
    build: .
    ports:
      - "5000:5000" # API Portu
      - "5555:5555" # Prisma Studio Portu
    env_file: .env
    depends_on:
      - postgres
      - redis
    volumes:
      - uploads_data:/usr/src/app/uploads
    restart: always

  postgres:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7-alpine
    # Port 6379 only exposed internally to Docker network
    # ports:
    #   - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    command: redis-server --appendonly yes

volumes:
  postgres_data:
  redis_data:
  uploads_data: